<a (click)="open()">忘记密码？</a>
<nz-drawer [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom': '53px' }"
  [nzMaskClosable]="false" [nzWidth]="720" [nzVisible]="visible" nzTitle="修改密码" (nzOnClose)="close()">
  <span nz-text nzType="warning">忘记密码功能暂时未提供，如想修改密码，请登陆后修改</span>
  <br>
  <br>
  <hr>
  <br>
  <form nz-form [formGroup]="fpForm">
    <!-- 用户名 -->
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>用户名</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="验证中..." [nzErrorTip]="userErrorTpl">
        <input nz-input formControlName="username" placeholder="请输入你的用户名" />
        <ng-template #userErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">
            请输入你的用户名！
          </ng-container>
          <ng-container *ngIf="control.hasError('duplicated')">
            用户名有误！
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <!-- 原密码 -->
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>原密码</nz-form-label>
      <div>
        <nz-form-control [nzSpan]="12" nzHasFeedback nzErrorTip="请输入原密码(至少8位长度)！">
          <input nz-input type="password" placeholder="请输入你的原密码" formControlName="oldPassword" />
        </nz-form-control>
      </div>
    </nz-form-item>
    <!-- 新密码 -->
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>新密码</nz-form-label>
      <div>
        <nz-form-control [nzSpan]="12" nzHasFeedback nzErrorTip="请输入新密码(至少8位长度)">
          <input nz-input type="password" placeholder="请输入你的新密码" formControlName="newPassword" />
        </nz-form-control>
      </div>
    </nz-form-item>
    <!-- 确认新密码 -->
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>确认新密码</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="passwordErrorTpl">
        <input nz-input type="password" formControlName="confirm" placeholder="请再次输入你的新密码" />
        <ng-template #passwordErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">
            必须再次输入新密码！
          </ng-container>
          <ng-container *ngIf="control.hasError('confirm')">
            两次密码不一致，请重新输入！
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <!-- 手机号 -->
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzFor="phoneNumber" nzRequired>手机号</nz-form-label>
      <nz-form-control [nzSpan]="12" nzErrorTip="请输入正确的手机号(11位长度)">
        <input type="number" formControlName="phoneNumber" id="'phoneNumber'" nz-input placeholder="请输入注册时的手机号" />
      </nz-form-control>
    </nz-form-item>
    <!-- 验证码 -->
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzFor="captcha" nzRequired>验证码</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请输入你收到的验证码！"
        nzExtra="We must make sure that your are yourself.">
        <div nz-row [nzGutter]="8">
          <div nz-col [nzSpan]="12">
            <input nz-input formControlName="captcha" id="captcha" />
          </div>
          <div nz-col [nzSpan]="12">
            <button nz-button>获取验证码</button>
          </div>
        </div>
      </nz-form-control>
    </nz-form-item>
  </form>

  <div class="footer">
    <span class="sa" nz-text nzDisabled>点击修改密码后，将修改您的密码</span>
    <button type="button" (click)="close()" class="ant-btn" style="margin-right: 8px;"><span>取消</span></button>
    <button type="button" [disabled]="!fpForm.valid" (click)="onclickFPS()"
      class="ant-btn ant-btn-primary"><span>修改密码</span></button>
  </div>
</nz-drawer>
