.components-table-demo-control-bar {
  margin-bottom: 12px;
}

.nz-form-item {
  margin-right: 16px;
  margin-bottom: 8px;
}

nz-table th {
  text-align: center !important;
}

td {
  text-align: center;
}

.search {
  float: right;
  margin-top: 5px;
}
