<nz-divider nzText="User Management" nzOrientation="left"></nz-divider>
<div class="components-table-demo-control-bar">
  <form nz-form nzLayout="inline">
    <nz-form-item>
      <nz-form-label><label>Bordered</label></nz-form-label>
      <nz-form-control>
        <nz-switch [(ngModel)]="bordered" name="bordered"></nz-switch>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label><label>Loading</label></nz-form-label>
      <nz-form-control>
        <nz-switch [(ngModel)]="loading" name="loading"></nz-switch>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label><label>Pagination</label></nz-form-label>
      <nz-form-control>
        <nz-switch [(ngModel)]="pagination" name="pagination"></nz-switch>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label><label>PageSizeChanger</label></nz-form-label>
      <nz-form-control>
        <nz-switch [(ngModel)]="sizeChanger" name="sizeChanger"></nz-switch>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label><label>Title</label></nz-form-label>
      <nz-form-control>
        <nz-switch [(ngModel)]="title" name="title"></nz-switch>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label><label>Column Header</label></nz-form-label>
      <nz-form-control>
        <nz-switch [(ngModel)]="header" name="header"></nz-switch>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label><label>Footer</label></nz-form-label>
      <nz-form-control>
        <nz-switch [(ngModel)]="footer" name="footer"></nz-switch>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label><label>Expandable</label></nz-form-label>
      <nz-form-control>
        <nz-switch [(ngModel)]="expandable" name="expandable"></nz-switch>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label><label>Checkbox</label></nz-form-label>
      <nz-form-control>
        <nz-switch [(ngModel)]="checkbox" name="checkbox"></nz-switch>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label><label>Fixed Header</label></nz-form-label>
      <nz-form-control>
        <nz-switch [(ngModel)]="fixHeader" name="fixHeader"></nz-switch>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label><label>No Result</label></nz-form-label>
      <nz-form-control>
        <nz-switch [(ngModel)]="noResult" (ngModelChange)="noResultChange($event)" name="noResult"></nz-switch>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label><label>Simple Pagination</label></nz-form-label>
      <nz-form-control>
        <nz-switch [(ngModel)]="simple" name="simple"></nz-switch>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label><label>Size</label></nz-form-label>
      <nz-form-control>
        <nz-radio-group [(ngModel)]="size" name="size">
          <label nz-radio-button nzValue="default">Default</label>
          <label nz-radio-button nzValue="middle">Middle</label>
          <label nz-radio-button nzValue="small">Small</label>
        </nz-radio-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label><label>Pagination Position</label></nz-form-label>
      <nz-form-control>
        <nz-radio-group [(ngModel)]="position" name="position">
          <label nz-radio-button nzValue="top">Top</label>
          <label nz-radio-button nzValue="bottom">Bottom</label>
          <label nz-radio-button nzValue="both">Both</label>
        </nz-radio-group>
      </nz-form-control>
    </nz-form-item>
    <!-- 搜索框 -->
    <nz-form-item class="search">
      <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
        <input type="text" nz-input placeholder="请输入要查找的员工姓名" />
      </nz-input-group>
      <ng-template #suffixIconButton>
        <button nz-button nzType="primary" nzSearch><i nz-icon nzType="search"></i></button>
      </ng-template>
    </nz-form-item>
  </form>
</div>
<!-- <p>{{listOfData.username}}</p> -->
<nz-table #dynamicTable [nzScroll]="fixHeader ? { y: '240px' } : null" [nzData]="listOfData" [nzBordered]="bordered"
  [nzSimple]="simple" [nzLoading]="loading" [nzPaginationPosition]="position" [nzShowSizeChanger]="sizeChanger"
  [nzFrontPagination]="pagination" [nzShowPagination]="pagination" [nzFooter]="footer ? '附加功能' : null"
  [nzTitle]="title ? '用户管理' : null" [nzSize]="size" (nzCurrentPageDataChange)="currentPageDataChange($event)">
  <thead>
    <tr *ngIf="header">
      <th nzWidth="50px" nzShowExpand *ngIf="expandable"></th>
      <th nzWidth="75px" nzShowCheckbox *ngIf="checkbox" [(nzChecked)]="allChecked" [nzIndeterminate]="indeterminate"
        (nzCheckedChange)="checkAll($event)"></th>
      <!-- 用户名  姓名  拥有权限  所在部门  电话  邮箱 -->
      <th nzWidth="100px">员 工 编 号</th>
      <th nzWidth="125px">用 户 名</th>
      <th nzWidth="125px">姓 名</th>
      <th nzWidth="50px">性 别</th>
      <th nzWidth="100px">所 在 部 门</th>
      <th>拥 有 权 限</th>
      <th nzWidth="150px">电 话</th>
      <th nzWidth="150px">邮 箱</th>
    </tr>
  </thead>
  <tbody>
    <ng-template ngFor let-data [ngForOf]="dynamicTable.data">
      <tr>
        <td nzShowExpand *ngIf="expandable" [(nzExpand)]="data.expand"></td>
        <td nzShowCheckbox *ngIf="checkbox" [(nzChecked)]="data.checked" (nzCheckedChange)="refreshStatus()"></td>
        <td>{{ data.id }}</td>
        <td>{{ data.username }}</td>
        <td>{{ data.nickname }}</td>
        <td>{{ data.gender }}</td>
        <td>{{ data.department }}</td>
        <td>{{ data.privilege }}</td>
        <td>{{ data.phoneNumber }}</td>
        <td>{{ data.email }}</td>
      </tr>
      <tr [nzExpand]="data.expand && expandable">
        <td></td>
        <td [attr.colspan]="checkbox ? 5 : 4">{{ data.description }}</td>
      </tr>
    </ng-template>
  </tbody>
</nz-table>
