<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
    nzTheme="light">
    <div class="sidebar-logo">
      <a routerLink="/">
        <img src="../assets/images/webpack.png" style="border-radius: 4px;" routerLink="/">
        <h1>OA System</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="light" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <!-- 欢迎使用 -->
      <li nz-submenu nzOpen nzTitle="欢迎使用" nzIcon="home">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/home/welcome">Welcome</a>
          </li>
        </ul>
      </li>
      <!-- 用户管理 -->
      <li nz-submenu nzTitle="用户管理" nzIcon="team">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/home/userManagement/management">账号管理</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/home/userManagement/userRegister">账号添加</a>
          </li>
        </ul>
      </li>
      <!-- 角色管理 -->
      <li nz-submenu nzTitle="角色管理" nzIcon="idcard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a>更改角色</a>
          </li>
        </ul>
      </li>
      <!-- Demo -->
      <li nz-submenu nzTitle="Demo" nzIcon="experiment">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/home/demo">Demo</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/home/demo/login">登陆</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/home/demo/changePassword">修改密码</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
