<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
    nzTheme="light">
    <div class="sidebar-logo">
      <a routerLink="/home/welcome">
        <img src="../assets/images/webpack.png" style="border-radius: 4px;" routerLink="/home/welcome">
        <h1>OA System</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="light" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <!-- 欢迎使用 -->
      <li nz-submenu nzOpen nzTitle="欢迎使用" nzIcon="home">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/home/welcome">Welcome</a>
          </li>
        </ul>
      </li>
      <!-- 个人中心 ： 原Demo -->
      <li nz-submenu nzTitle="个人中心" nzIcon="radar-chart">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/home/demo">个人中心</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/home/demo/changePassword">修改密码</a>
          </li>
        </ul>
      </li>
      <!-- 用户管理 -->
      <li nz-submenu nzTitle="用户管理" nzIcon="team" *ngIf="departmentPrivilege">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/home/userManagement/management">账号管理</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/home/userManagement/userRegister">账号添加</a>
          </li>
        </ul>
      </li>
      <!-- 表单管理 -->
      <li nz-submenu nzTitle="表单管理" nzIcon="idcard" *ngIf="formPrivilege">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/home/forms/formAudit">表单审核</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/home/forms/formDeal">表单处理</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/home/forms/formApproval">表单审批</a>
          </li>
        </ul>
      </li>
      <!-- 完 -->
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
        </span>
        <button nz-button nzType="primary" (click)="logout()" [nzLoading]="isLoading">
          <i nz-icon nzType="poweroff"></i>退出登陆
        </button>
        <app-avatar></app-avatar>
        <span class="greeting">
          <a class="greeting_name">{{CurrentUser.nickname}}</a>
        </span>
        <nz-badge nzStatus="processing" nzText={{greet}}></nz-badge>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
