<nz-divider nzText="Please Sign In OA System !" nzOrientation="left"></nz-divider>
<form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-control nzErrorTip="Please input your username!">
      <nz-input-group nzPrefixIcon="user">
        <input type="text" nz-input formControlName="userName" placeholder="请输入您的账号" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzErrorTip="Please input your Password!">
      <nz-input-group nzPrefixIcon="lock">
        <input type="password" nz-input formControlName="password" placeholder="请输入您的密码" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <label nz-checkbox formControlName="remember">
        <span>记住我</span>
      </label>
      <a class="login-form-forgot" class="login-form-forgot">忘记密码？</a>
      <button nz-button class="login-form-button" [nzType]="'primary'">登陆</button>
      或者
      <a>现在注册！</a>
    </nz-form-control>
  </nz-form-item>
</form>
