<nz-layout class="app-layout main-wrapper">
  <nz-content class="layout-passport">
    <nz-divider class="divider-passport" nzText="Welcome to OA System !" nzOrientation="center"></nz-divider>
    <form class="login-form" nz-form [formGroup]="loginForm" class="login-form">
      <nz-form-item>
        <!-- <p>Username: {{loginForm.value.username}}</p>
    <p>Password: {{loginForm.value.password}}</p> -->
        <nz-form-control nzErrorTip="账号不可为空!">
          <nz-input-group nzPrefixIcon="user">
            <input type="text" nz-input formControlName="username" placeholder="请输入您的账号" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="密码不可为空且至少为8位!">
          <nz-input-group nzPrefixIcon="lock">
            <input type="password" nz-input formControlName="password" placeholder="请输入您的密码" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <label nz-checkbox formControlName="remember">
            <span>记住我</span>
          </label>
          <!-- <a class="login-form-forgot">忘记密码？</a> -->
          <app-forget-password-drawer class="login-form-forgot"></app-forget-password-drawer>
          <button nz-button class="login-form-button" [nzType]="'primary'" [disabled]="!loginForm.valid"
            (click)="onSubmit()">登陆</button>
          或者
          <app-drawer></app-drawer>
          <br>
          <app-account-notice></app-account-notice>
        </nz-form-control>
      </nz-form-item>
    </form>
    <div class="global-footer__copyright"> Copyright <i _ngcontent-erk-c0="" nz-icon="" nztype="copyright"
        class="anticon-copyright"><svg viewBox="64 64 896 896" fill="currentColor" width="1em" height="1em"
          data-icon="copyright" aria-hidden="true">
          <path
            d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64zm0 820c-205.4 0-372-166.6-372-372s166.6-372 372-372 372 166.6 372 372-166.6 372-372 372zm5.6-532.7c53 0 89 33.8 93 83.4.3 4.2 3.8 7.4 8 7.4h56.7c2.6 0 4.7-2.1 4.7-4.7 0-86.7-68.4-147.4-162.7-147.4C407.4 290 344 364.2 344 486.8v52.3C344 660.8 407.4 734 517.3 734c94 0 162.7-58.8 162.7-141.4 0-2.6-2.1-4.7-4.7-4.7h-56.8c-4.2 0-7.6 3.2-8 7.3-4.2 46.1-40.1 77.8-93 77.8-65.3 0-102.1-47.9-102.1-133.6v-52.6c.1-87 37-135.5 102.2-135.5z">
          </path>
        </svg></i> 2020 By <a _ngcontent-erk-c0="" href="https://github.com/LeonardoRain"
        target="_blank">LeonardoRain</a></div>
  </nz-content>
</nz-layout>
